<div class="flex w-auto">
  <div class="flex flex-col gap-3">
    <div class="h-10 flex p-3">
      <div class="bg-white p-6 rounded-lg shadow-md w-full flex space-x-7">
        <!-- Dermatologist Dropdown -->
        <div class="flex items-center mb-2 space-x-5">
          <label
            class="text-gray-700 text-sm font-bold w-1/3 text-center block"
          >
            Dermatologists
          </label>
          <select
            [(ngModel)]="selectedDermatologist"
            id="dermatologist"
            class="shadow appearance-none border-2 rounded w-2/3 py-1 px-1 text-gray-700 leading-6 focus:outline-none focus:shadow-outline focus:border-yellow-500"
          >
            <option
              *ngFor="let dermatologist of DermatologistsArray"
              [ngValue]="dermatologist"
            >
              {{ dermatologist.dermatologistsName }}
            </option>
          </select>
        </div>

        <!-- Date Input -->
        <div class="flex items-center mb-2 space-x-2">
          <label
            class="text-gray-700 text-sm font-bold w-1/3 text-center block"
          >
            Select Date
          </label>
          <input
            type="date"
            id="datePicker"
            [(ngModel)]="selectedDate"
            (change)="onDateChange($event)"
            [readonly]="!selectedDermatologist"
            class="border rounded-md p-1 mt-4 mb-4"
          />
        </div>

        <!-- Time Slots Dropdown -->
        <div *ngIf="dayOfWeek" class="flex items-center mb-2 space-x-2">
          <label class="text-gray-700 text-sm font-bold w-full">
            Available Time Slots for
            <span class="text-red-700">{{ dayOfWeek }}</span>
          </label>
          <select
            id="timeSlot"
            [(ngModel)]="selectedTimeSlots[dayOfWeek]"
            class="border rounded-md p-1 mb-1"
          >
            <option
              *ngFor="let slot of availableTimeSlots[dayOfWeek]"
              [value]="slot"
            >
              {{ slot }}
            </option>
          </select>
        </div>

        <div class="flex items-center mb-2 space-x-2">
          <label
            class="text-gray-700 text-sm font-bold w-full text-center block"
          >
            Registration Fee
          </label>
          <select
            id="registration"
            [(ngModel)]="registration"
            class="border rounded-md p-1 mt-4 mb-4"
          >
            <option value="500">500 Rs</option>
          </select>
        </div>

        <!-- Add Appointment Button -->
        <div class="flex items-center justify-center ml-3">
          <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button"
            (click)="addAppointment()"
          >
            Add Appointment
          </button>
        </div>
      </div>
    </div>

    <div class="h-10 flex p-3">
      <div class="bg-white p-6 rounded-lg shadow-md w-full flex space-x-7">
        <div class="flex items-center mb-2 space-x-5">
          <label
            class="text-gray-700 text-sm font-bold w-1/3 text-center block"
          >
            Patient
          </label>
          <select
            [(ngModel)]="selectedPatient"
            id="patientSelect"
            class="shadow appearance-none border-2 rounded w-2/3 py-1 px-1 text-gray-700 leading-6 focus:outline-none focus:shadow-outline focus:border-yellow-500"
          >
            <option *ngFor="let patient of PatientArray" [ngValue]="patient">
              {{ patient.name }}
            </option>
          </select>
          <button
            (click)="togglePatientForm()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline"
            type="button"
          >
            Create
          </button>
          <div *ngIf="isPatientFormVisible" class="flex flex-row gap-2">
            <input
              type="text"
              id="nic"
              [(ngModel)]="nic"
              placeholder="NIC"
              class="border rounded-md p-1 mt-4 mb-4"
            />
            <input
              type="text"
              placeholder="Name"
              id="name"
              [(ngModel)]="name"
              class="border rounded-md p-1 mt-4 mb-4"
            />
            <input
              type="text"
              placeholder="Email"
              id="email"
              [(ngModel)]="email"
              class="border rounded-md p-1 mt-4 mb-4"
            />
            <input
              type="text"
              placeholder="Phone"
              id="phone"
              [(ngModel)]="phone"
              class="border rounded-md p-1 mt-4 mb-4"
            />
            <div class="flex items-center justify-center ml-3">
              <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button"
                (click)="addPatient()"
              >
                Add
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Appointments List -->
<div class="mt-6">
  <div class="p-2">
    <div
      class="w-full h-full bg-gradient-to-br from-[#1e3a8a] to-[#2563eb] p-5 text-white rounded-lg shadow-md"
    >
      <div class="flex flex-row gap-8">
        <!-- Left side: Filter and Search Inputs -->
        <div class="w-1/6">
          <div class="mb-4">
            <label class="block mb-1">Filter by Date</label>
            <input
              [(ngModel)]="filterDate"
              type="date"
              class="p-2 border rounded text-black"
            />
            <button
              (click)="filterAppointmentsByDate()"
              class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded ml-3"
            >
              Filter
            </button>
          </div>

          <div class="flex flex-col">
            <label>Search by Name</label>
            <input
              [(ngModel)]="searchName"
              type="text"
              placeholder="Patient Name"
              class="shadow appearance-none border-2 w-full rounded py-1 px-1 text-gray-700 leading-6 focus:outline-none focus:shadow-outline focus:border-yellow-500"
            />
            <label>Search by ID</label>
            <input
              [(ngModel)]="searchId"
              type="number"
              placeholder="Appointment ID"
              class="shadow appearance-none border-2 w-full rounded py-1 px-1 text-gray-700 leading-6 focus:outline-none focus:shadow-outline focus:border-yellow-500"
            />
            <button
              (click)="searchAppointments()"
              class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded w-full"
            >
              Search
            </button>
            <button
              (click)="resetFilters()"
              class="mt-4 bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded w-full"
            >
              Clear
            </button>
          </div>
        </div>

        <!-- Right side: Results Table -->
        <div class="w-2/3">
          <div *ngIf="searchResults.length > 0">
            <table
              class="table-auto w-full text-left text-white border-collapse"
            >
              <thead>
                <tr class="border-b">
                  <th class="px-4 py-2">Appointment ID</th>
                  <th class="px-4 py-2">Patient Name</th>
                  <th class="px-4 py-2">Date & Time</th>
                  <th class="px-4 py-2">Dermatologist</th>
                  <th class="px-4 py-2">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let appointment of searchResults" class="border-b">
                  <td class="px-4 py-2">{{ appointment.id }}</td>
                  <td class="px-4 py-2">{{ appointment.patient?.name }}</td>
                  <td class="px-4 py-2">
                    {{ appointment.appointmentDateTime }}
                  </td>
                  <td class="px-4 py-2">
                    {{ appointment.dermatologists?.dermatologistsName }}
                  </td>
                  <td class="px-4 py-2">
                    <button
                      (click)="editAppointment(appointment)"
                      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                    >
                      Edit
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <table class="table-auto w-full text-left text-white mt-4">
        <thead>
          <tr class="border-b">
            <th class="px-4 py-2">Appointment ID</th>
            <th class="px-4 py-2">Patient</th>
            <th class="px-4 py-2">Date & Time</th>
            <th class="px-4 py-2">Dermatologist</th>
            <th class="px-4 py-2">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of AppointmentArray" class="border-b">
            <td class="px-4 py-2">{{ appointment.id }}</td>
            <td class="px-4 py-2">{{ appointment.patient?.name }}</td>
            <td class="px-4 py-2">{{ appointment.appointmentDateTime }}</td>
            <td class="px-4 py-2">
              {{ appointment.dermatologists?.dermatologistsName }}
            </td>
            <td class="px-4 py-2 space-x-3">
              <button
                (click)="deleteAppointment(appointment.id)"
                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  *ngIf="editingAppointmentId"
  class="p-6 bg-white rounded-lg shadow-md mt-6"
>
  <h2 class="text-xl font-bold text-gray-700 mb-4">Edit Appointment</h2>
  <form (ngSubmit)="updateAppointment()" class="space-y-4">
    <div class="flex flex-row gap-3">
      <div>
        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Date and Time:</label
          >
          <input
            type="datetime-local"
            [(ngModel)]="editingAppointmentData.appointmentDateTime"
            name="appointmentDateTime"
            required
            class="border rounded-md p-2 text-gray-700 focus:outline-none focus:border-yellow-500"
          />
        </div>

        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1">Patient:</label>
          <select
            [(ngModel)]="editingAppointmentData.patient"
            name="patient"
            required
            class="shadow appearance-none border rounded-md p-2 text-gray-700 focus:outline-none focus:border-yellow-500"
          >
            <option *ngFor="let patient of PatientArray" [value]="patient">
              {{ patient.name }}
            </option>
          </select>
        </div>

        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Dermatologist:</label
          >
          <select
            [(ngModel)]="editingAppointmentData.dermatologists"
            name="dermatologist"
            required
            class="shadow appearance-none border rounded-md p-2 text-gray-700 focus:outline-none focus:border-yellow-500"
          >
            <option
              *ngFor="let dermatologist of DermatologistsArray"
              [value]="dermatologist"
            >
              {{ dermatologist.dermatologistsName }}
            </option>
          </select>
        </div>

        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Registration:</label
          >
          <input
            type="text"
            [(ngModel)]="editingAppointmentData.registration"
            name="registration"
            required
            class="border rounded-md p-2 text-gray-700 focus:outline-none focus:border-yellow-500"
          />
        </div>
      </div>
      <div>
        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Treatments:</label
          >
          <div *ngFor="let treatment of treatmentsArray">
            <label>
              <input
                type="checkbox"
                [(ngModel)]="treatment.selected"
                (change)="calculateTotal()"
                [name]="'treatment_' + treatment.id"
              />
              {{ treatment.treatment }} - {{ treatment.price }}Rs
            </label>
          </div>
        </div>
      </div>

      <!-- Calculation for Total, Tax, and Registration -->
      <div>
        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Total Amount:</label
          >
          <input
            type="text"
            [value]="totalAmount"
            disabled
            class="border rounded-md p-2 text-gray-700"
          />
        </div>

        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Tax (2.5%):</label
          >
          <input
            type="text"
            [value]="taxAmount"
            disabled
            class="border rounded-md p-2 text-gray-700"
          />
        </div>

        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Registration Fee:</label
          >
          <input
            type="text"
            [value]="registrationFee"
            disabled
            class="border rounded-md p-2 text-gray-700"
          />
        </div>

        <div class="flex flex-col w-52">
          <label class="text-gray-700 text-sm font-bold mb-1"
            >Grand Total:</label
          >
          <input
            type="text"
            [value]="grandTotal"
            disabled
            class="border rounded-md p-2 text-gray-700"
          />
        </div>
      </div>
    </div>

    <div class="flex space-x-4 mt-4">
      <button
        type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Update Appointment
      </button>
      <button
        type="button"
        (click)="generateInvoice()"
        class="bg-blue-500 text-white px-4 py-2 rounded-md mt-4"
      >
        Generate Invoice
      </button>
      <button
        type="button"
        (click)="resetEditForm()"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
